
 <div class="photo-card">
<a class="gallery__item" href=" {{largeImageURL}} ">    
 
    <img src="{{webformatURL}}" alt=" {{tags}} " title="image" loading="lazy" height="150" />
    <div class="info">
      <p class="info-item">
        <b>Likes </b>  {{likes}}
      </p>
      <p class="info-item">
        <b>Views  </b> {{views}}
      </p>
      <p class="info-item">
        <b>Comments  </b> {{comments}}
      </p>
      <p class="info-item">
        <b>Downloads</b> {{downloads}}
      </p>
    </div> 
</a>
</div>

{{!-- <a class="gallery__item" href=" {{largeImageURL}} ">
   <img class="gallery__image" src="{{webformatURL}}" alt="alt " title="title" />
</a>    --}}

  